scibert_scivocab_uncased/
.ipynb_checkpoints/Sci-BERT semantic similarity-checkpoint.ipynb
.ipynb_checkpoints/FinalNotebook-checkpoint.ipynb
.ipynb_checkpoints/FinalNotebook-checkpoint.ipynb
.ipynb_checkpoints/FinalNotebook-checkpoint.ipynb
